.container{
    margin-top: 30px;
    margin-left: 50px;
}

.navbar-brand{
    margin-left: 10px;
}
.formmm{
    margin: 15px;
    width: 500px;
}

.form{
    margin: auto;
    width: 30%;
}

.acaca{
    margin-bottom: 20px;
}